<a href="https://colab.research.google.com/github/Dav00Arm/kaggle_house_price_prediction/blob/main/Solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

**Import datasets**

In [ ]:
X_train = pd.read_csv('train.csv')
X_test = pd.read_csv('test.csv')
y_train = list(X_train['SalePrice'])
X_train.drop('SalePrice', inplace=True, axis=1)

**Dataset preprocessing**

In [ ]:
# TRAINING DATASET
X_train = X_train.set_index('Id') 
nans_train = X_train.isna().sum() # Number of NaN in each column
nans_train = nans_train[nans_train!=0] # Drop 0s from nans 
col_names_train = nans_train.index # Columns that contain NaN

#TEST DATASET
X_test = X_test.set_index('Id')
nans_test = X_test.isna().sum() # Number of NaN in each column
nans_test = nans_test[nans_test!=0] # Drop 0s from nans
col_names_test = nans_test.index  # Columns that contain NaN

print(col_names_train)
print(col_names_test)

Index(['LotFrontage', 'Alley', 'MasVnrType', 'MasVnrArea', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2',
       'Electrical', 'FireplaceQu', 'GarageType', 'GarageYrBlt',
       'GarageFinish', 'GarageQual', 'GarageCond', 'PoolQC', 'Fence',
       'MiscFeature'],
      dtype='object')
Index(['MSZoning', 'LotFrontage', 'Alley', 'Utilities', 'Exterior1st',
       'Exterior2nd', 'MasVnrType', 'MasVnrArea', 'BsmtQual', 'BsmtCond',
       'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1', 'BsmtFinType2',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'BsmtFullBath',
       'BsmtHalfBath', 'KitchenQual', 'Functional', 'FireplaceQu',
       'GarageType', 'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea',
       'GarageQual', 'GarageCond', 'PoolQC', 'Fence', 'MiscFeature',
       'SaleType'],
      dtype='object')

In [ ]:
# Get dtype of NaN column
# TRAINING DATASET
dtypes_train = []
for name in col_names_train:
  dtypes_train.append(X_train[name].dtype)

# TEST DATASET
dtypes_test = []
for name in col_names_test:
  dtypes_test.append(X_test[name].dtype)

print(dtypes_train)
print(dtypes_test)

[dtype('float64'), dtype('O'), dtype('O'), dtype('float64'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('float64'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O')]
[dtype('O'), dtype('float64'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('float64'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('float64'), dtype('O'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('float64'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('float64'), dtype('O'), dtype('float64'), dtype('float64'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O')]

In [ ]:
# DataFrame with numbers of NaN values and their dtypes
# TRAINING DATASET
nan_df_train = pd.DataFrame({'col_name': col_names_train,
                      'dtypes': dtypes_train,
                      'count': pd.Series(nans_train.values)})

#TEST DATASET
nan_df_test = pd.DataFrame({'col_name': col_names_test,
                      'dtypes': dtypes_test,
                      'count': pd.Series(nans_test.values)})

print(nan_df_train)
print(' ')
print(nan_df_test)

        col_name   dtypes  count
0    LotFrontage  float64    259
1          Alley   object   1369
2     MasVnrType   object      8
3     MasVnrArea  float64      8
4       BsmtQual   object     37
5       BsmtCond   object     37
6   BsmtExposure   object     38
7   BsmtFinType1   object     37
8   BsmtFinType2   object     38
9     Electrical   object      1
10   FireplaceQu   object    690
11    GarageType   object     81
12   GarageYrBlt  float64     81
13  GarageFinish   object     81
14    GarageQual   object     81
15    GarageCond   object     81
16        PoolQC   object   1453
17         Fence   object   1179
18   MiscFeature   object   1406

        col_name   dtypes  count
0       MSZoning   object      4
1    LotFrontage  float64    227
2          Alley   object   1352
3      Utilities   object      2
4    Exterior1st   object      1
5    Exterior2nd   object      1
6     MasVnrType   object     16
7     MasVnrArea  float64     15
8       BsmtQual   object     44
9       BsmtCond   object     45
10  BsmtExposure   object     44
11  BsmtFinType1   object     42
12    BsmtFinSF1  float64      1
13  BsmtFinType2   object     42
14    BsmtFinSF2  float64      1
15     BsmtUnfSF  float64      1
16   TotalBsmtSF  float64      1
17  BsmtFullBath  float64      2
18  BsmtHalfBath  float64      2
19   KitchenQual   object      1
20    Functional   object      2
21   FireplaceQu   object    730
22    GarageType   object     76
23   GarageYrBlt  float64     78
24  GarageFinish   object     78
25    GarageCars  float64      1
26    GarageArea  float64      1
27    GarageQual   object     78
28    GarageCond   object     78
29        PoolQC   object   1456
30         Fence   object   1169
31   MiscFeature   object   1408
32      SaleType   object      1

In [ ]:
# Filling missing values
# TRAINING DATASET
for i in range(len(col_names_train)):
    if dtypes_train[i] == 'float64':
        X_train[col_names_train[i]] = X_train[col_names_train[i]].fillna(X_train[col_names_train[i]].mean())
    elif dtypes_train[i] == 'object':
        X_train[col_names_train[i]] = X_train[col_names_train[i]].fillna(X_train[col_names_train[i]].mode()[0])

# TEST DATASET
for j in range(len(col_names_test)):
    if dtypes_test[j] == 'float64':
        X_test[col_names_test[j]] = X_test[col_names_test[j]].fillna(X_test[col_names_test[j]].mean())
    elif dtypes_test[i] == 'object':
        X_test[col_names_test[j]] = X_test[col_names_test[j]].fillna(X_test[col_names_test[j]].mode()[0])

In [ ]:
# One-hot encoding columns
#TRAINING DATASET
encoding_columns_train = []
for name in X_train.columns:
    if X_train[name].dtype == 'object':
        encoding_columns_train.append(name)

# TEST DATASET
encoding_columns_test = []
for name in X_test.columns:
    if X_test[name].dtype == 'object':
        encoding_columns_test.append(name)

print(encoding_columns_train)
print(encoding_columns_test)

['MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual', 'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond', 'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature', 'SaleType', 'SaleCondition']
['MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2', 'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual', 'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond', 'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature', 'SaleType', 'SaleCondition']

In [ ]:
# One-hot encoding
X_train = pd.get_dummies(X_train, columns=encoding_columns_train)
X_test = pd.get_dummies(X_test, columns=encoding_columns_test)

In [ ]:
X_train

      MSSubClass  LotFrontage  ...  SaleCondition_Normal  SaleCondition_Partial
Id                             ...
1             60         65.0  ...                     1                      0
2             20         80.0  ...                     1                      0
3             60         68.0  ...                     1                      0
4             70         60.0  ...                     0                      0
5             60         84.0  ...                     1                      0
...          ...          ...  ...                   ...                    ...
1456          60         62.0  ...                     1                      0
1457          20         85.0  ...                     1                      0
1458          70         66.0  ...                     1                      0
1459          20         68.0  ...                     1                      0
1460          20         75.0  ...                     1                      0

[1460 rows x 288 columns]

In [ ]:
# Difference between columns after encoding
missing_columns = list(set(X_train.columns) - set(X_test.columns))
missing_columns

['Condition2_RRNn',
 'MiscFeature_TenC',
 'Heating_Floor',
 'PoolQC_Fa',
 'Electrical_Mix',
 'HouseStyle_2.5Fin',
 'Condition2_RRAe',
 'Exterior2nd_Other',
 'Utilities_NoSeWa',
 'Heating_OthW',
 'RoofMatl_Metal',
 'RoofMatl_ClyTile',
 'Exterior1st_ImStucc',
 'Condition2_RRAn',
 'RoofMatl_Roll',
 'GarageQual_Ex',
 'Exterior1st_Stone',
 'RoofMatl_Membran']

In [ ]:
# Filling missing columns
for column in missing_columns:
  X_test[column] = 0

In [ ]:
# Sorting indexes
X_train = X_train.reindex(sorted(X_train.columns), axis=1)
X_test = X_test.reindex(sorted(X_test.columns), axis=1)

**Create Model**

In [ ]:
from xgboost import XGBRegressor
from sklearn.model_selection import cross_val_score

In [1]:
model = XGBRegressor()
model.fit(X_train, y_train)
# RMSLE SCORE 0.13729

In [ ]:
y_pred = model.predict(X_test)
y_pred

array([119122.85, 156906.05, 174766.3 , ..., 162479.98, 124082.95,
       235529.23], dtype=float32)

**Save predictions in csv**

In [ ]:
prediction = pd.read_csv('sample_submission.csv')
prediction['SalePrice'] = y_pred
prediction = prediction.set_index('Id')
prediction.to_csv('simple_house_price_prediction_{:.2f}%.csv' .format(accuracy), index=True)